body {
  font-family: 'IBM Plex Mono', monospace;
  padding: 0 0.5rem;
  color: var(--grey-600);
  background: var(--background);
}


/* fade onload */
body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

html {
  --background: #1d1f20;
  --grey-200: #eaeaea;
  --grey-600: #ffffff;
  --grey-900: #fafafa;

  --toggler-color:#6b6b6b;
  --blue-green: #2aa87c;
}

a {
  color: var(--blue-green);
}

a:hover {
  color: var(--grey-900);
}

h1 {
  font-size: clamp(1.3rem, 1.8vw, 3rem);
}

h3 {
  font-size: clamp(0.8rem, 1.2vw, 2.5rem);
}

p, li {
  font-size: clamp(0.7rem, 1vw, 1rem);
  color: var(--grey-900);
}

li {
  margin: 1rem 0;
}


/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: #2aa87c80;
  /* background: rgb(231, 229, 229, 0.5); */
  -webkit-box-shadow: none;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}