@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #121e32;
  background-image: linear-gradient(315deg,#1a4e38,#121e32,#065b33);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: 'Roboto Mono', monospace;
  padding: 2rem 0.5rem;
  color: white;

  /* fade onload */
  opacity: 1;

  animation-name: fadeInAnimation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.01;
  }
  1% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* highlight color */
.unselectable {
  -webkit-tap-highlight-color:transparent;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



html {
  /* --background: #1d1f20; */
  --background: #303334;
  --background-glass: rgba(255,255,255,0.08);
  --background-gradient: linear-gradient(to top, #121e32, #003349, #004958, #005f5b, #277453);

  --toggler-color:#6b6b6b;
  --blue-green: #1dc288;
  /* --blue-green: #2aa87c; */
}

a {
  color: var(--blue-green);
}

a:hover {
  color: var(--toggler-color);
}

h1 {
  font-size: clamp(1.25rem, 1.7vw, 3rem);
}

h3 {
  font-size: clamp(0.75rem, 1.1vw, 2.5rem);
}

p, li {
  font-size: clamp(0.7rem, 0.9vw, 1rem);
  color: var(--grey-900);
}

li {
  margin: 1rem 0;
}




/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #2aa87c80;
  -webkit-box-shadow: none;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}