---
import Main from "../layouts/Main.astro";
import Books from "../components/Books.astro";
import Footer from "../components/Footer.astro";

const homePicture = "/logo.svg";
---

<Main title="zzm">
  <div class="home__details unselectable">
    <div class="home">
      <a class="pic" href="/">
        <img
          src={homePicture}
          class="home__picture"
          alt="logo"
          width="80px"
          height="80px"
        />
      </a>
       <div class="main_content">
         <h1>hello!</h1>
       </div>
    </div>

    <div class="books">
      <p>
        ✿ gl books i've read ✿
      </p>
    </div>
  </div>

  <Books />

  <Footer />

</Main>

<style>
  .home {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3rem 0 3rem 0;
  }

  .main_content h1 {
    font-size: clamp(3rem, 3vw, 3.5rem);
  }

  .main_content > h1, .books p {
    padding: 0;
    margin-top: 0;
  }

  .home__details {
    flex: 1 0 300px;
  }

  .home__picture {
    margin: 0 0.5rem 1rem 0;
  }

  .books p {
    font-size: clamp(1.35rem, 3vw, 2rem);
  }

  a {
    color: var(--blue-green);
    padding: 0.5rem 2rem;
    padding-left: 0rem;
    border-radius: 10px;
    text-decoration: none;
  }

  .pic {
    padding: 0;
    border-radius: 0;
  }

</style>