---
import Main from "../layouts/Main.astro";
import Books from "../components/Books.astro";
import Footer from "../components/Footer.astro";

const homePicture = "/logo.svg";
---

<Main title="zzm">
  <div class="home__details unselectable">
    <div class="home">
      <img
        src={homePicture}
        class="home__picture"
        alt="logo"
        width="80px"
        height="80px"
      />
      <div class="main_content">
        <h1>GL books</h1>
      </div>
    </div>

    <div class="books">
      <p>
        ✿ what i've read ✿
      </p>
    </div>
  </div>

  <Books />

  <Footer />

</Main>

<style>
  .home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 0 2rem 0;
  }

  .main_content h1 {
    font-size: clamp(2rem, 2.5vw, 3rem);
  }

  .main_content > h1, .books p {
    padding: 0;
    margin-top: 0;
  }

  .home__details {
    flex: 1 0 300px;
    text-align: center;
  }

  .home__picture {
    margin: 0 0.5rem 1rem 0;
  }

  .books p {
    font-size: clamp(1.1rem, 2vw, 1.8rem);
  }

  a {
    color: var(--blue-green);
    padding: 0.5rem 2rem;
    padding-left: 0rem;
    border-radius: 10px;
    text-decoration: none;
  }

  .pic {
    padding: 0;
    border-radius: 0;
    height: 0px;
  }

</style>