---
export interface Props {
  url: string;
  bookImg: string;
}
const { url, bookImg } = Astro.props;
---

<article class="card">
  <div class="imgDiv">
    <a class="cardlink" href={url}>
      <img
        src={bookImg}
        alt="bookImg"
        width="300px"
        height="420px"
      />
    </a>
  </div>
</article>


<style lang="scss">
  .imgDiv {
    border-radius: 20px;
    text-align: center;
  }

  .cardlink img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform .2s ease;
  }

  .imgDiv:hover img {
    transform: scale(0.95);
    // transform: scale(1.05);
  }

</style>