---
import BooksCard from "./BooksCard.astro";

import booksPic from "../data/booksPic.json";
---

<div class="grid unselectable">
    {
      booksPic.map(({ url, bookImg }) => (
        <BooksCard {url} {bookImg}/>
      ))
    }
</div>

<style>
  .grid {
    max-width: 35rem;
    display: block;
    margin-left: auto;
    margin-right: auto;


    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    align-items: flex-start;
    gap: 10px;

  }

  /* @media only screen and (max-width: 500px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    }
  } */
</style>