---
export interface Props {
  url: string;
  bookImg: string;
}
const { url, bookImg } = Astro.props;
---

<!-- when I have a masonry solution (or when grid masonry comes out!) remember to clean up the content class flex -->
<article class="card">
  <div class="imgDiv">
    <a class="cardlink" href={url}>
      <img
        src={bookImg}
        alt="book"
        width="300px"
        height="420px"
      />
    </a>
  </div>
</article>


<style lang="scss">
  .imgDiv {
    border-radius: 20px;
    overflow: hidden;
  }

  .imgDiv img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform .2s ease;
  }

  .imgDiv:hover img {
    transform: scale(1.05);
  }

</style>