---
import BooksCard from "./BooksCard.astro";

import booksPic from "../data/booksPic.json";
---

<div class="grid unselectable">
    {
      booksPic.map(({ url, bookImg, title }) => (
        <BooksCard {url} {bookImg} {title}/>
      ))
    }
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    align-items:flex-start;
    gap: 20px;
  }
</style>