---
export interface Props {
  url: string;
  bookImg: string;
  title: string;
}
const { url, bookImg, title } = Astro.props;
---

<!-- when I have a masonry solution (or when grid masonry comes out!) remember to clean up the content class flex -->
<article class="card">
  <div class="imgDiv">
    <a class="cardlink" href={url}>
      <img
        src={bookImg}
        alt="bookImg"
        width="300px"
        height="420px"
      />
      {title}
    </a>
  </div>
</article>


<style lang="scss">
  .imgDiv {
    border-radius: 20px;
    text-align: center;
  }

  .cardlink img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform .2s ease;
  }

  .imgDiv:hover img {
    transform: scale(0.95);
    // transform: scale(1.05);
  }

  .cardlink {
    color: white;
    text-decoration: none;
    transition: color .2s ease-in-out;
    font-size: clamp(0.8rem, 1vw, 2rem);
  }

  a:hover {
    color: var(--toggler-color);
  }

</style>