<footer>
  <a class="unselectable" href="https://x.com/zzumongi?t=ZgLythg6R2qslN_oQVRjKg&s=09">&copy; zizi</a>
</footer>

<style>
  footer, a {
    padding-top: 1.2rem;
    text-align: center;
    font-size: clamp(0.73rem, 0.8vw, 2rem);
    text-decoration: none;
    color: var(--blue-green);
  }
</style>