<footer>
  <a class="unselectable" href="https://x.com/zzumongi?t=ZgLythg6R2qslN_oQVRjKg&s=09">&copy; zizi</a>
</footer>

<style>
  footer, a {
    padding: 3rem 0;
    text-align: center;
    font-size: clamp(0.8rem, 1vw, 2rem);
    text-decoration: none;
    color: var(--blue-green);
  }
</style>