<header>
  <a class="unselectable" href="javascript:window.history.back()">← back </a>
</header>

<style>
  header, a {
    padding-top: 1rem;
    text-align: start;
    font-size: clamp(0.60rem, 0.75vw, 1rem);
    text-decoration: none;
    color: var(--blue-green);
  }


  a:hover {
    color: var(--toggler-color);
  }

</style>