---
import ListView from "./ListView.astro";

import booksPic from "../data/booksPic.json";
---

<div class="unselectable">
  <table>
    <tr>
      <th class="title">Title</th>
      <th class="author">Author</th>
      <th class="year">Date ✓</th>
    </tr>
    {
      booksPic.map(({ url, title, author, yearFinished }) => (
        <ListView {url} {title} {author} {yearFinished}/>
      ))
    }
  </table>
</div>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    border-bottom: 3px solid var(--background-glass);
    font-size: clamp(0.75rem, 0.95vw, 2rem);
    text-align: left;
  }

  th {
    padding: 0.7rem 0.1rem;
  }

  .title {
    width: 60%;
  }

  .author, .year {
    width: 20%;
  }

  .year {
    text-align: right;
  }
</style>