---
export interface Props {
  url: string;
  title: string;
  author: string;
  yearFinished: string;
}
const { url, title, author, yearFinished} = Astro.props;
---

<div class="listContainer unselectable">
  <table>
    <tr>
      <td class="title"><a href={url}>{title}</a></td>
      <td class="author">{author}</td>
      <td class="year">{yearFinished}</td>
    </tr>
  </table>
</div>

<style>
  a {
    text-decoration: none;
  }

  table {
    border-collapse: collapse;
    font-size: clamp(0.7rem, 0.9vw, 2rem);
    width: 100%;
  }

  tr {
    border-bottom: 1px solid var(--background-glass);
    text-align: left;
    padding: 0.5rem;
  }

  td {
    padding: 0.7rem 0.1rem;
  }

  .title {
    width: 60%;
  }

  .author, .year {
    width: 20%;
  }

  .year {
    text-align: right;
  }

</style>