<div class="currentlyReading unselectable">
  <ul>
    <li>
      <a href="https://sneikkimies.github.io/">
        Adachi and Shimamura
      </a> by Iruma Hitoma
    </li>
    <li>
      <a href="https://www.novelupdates.com/series/story-about-buying-my-classmate-once-a-week/">
        Story About Buying My Classmate Once A Week
      </a> by Haneda Usa
    </li>
    <li>
      <a href="https://www.novelupdates.com/series/my-princess-has-been-reborn/">
        My Princess Has Been Reborn
      </a> by 或许有一天
    </li>
  </ul>
</div>

<style>
  .currentlyReading {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  li {
    font-size: clamp(0.66rem, 0.85vw, 1.5rem);
  }

</style>