---
import type { MarkdownLayoutProps } from "astro";

import Main from "./Main.astro";
import Header from "../components/Header.astro";

type Props = MarkdownLayoutProps<{
  cover: string;
  title: string;
}>;

const { cover, title } = Astro.props.frontmatter;
---

<Main title="zzm">
  <main>
    <Header />

    <div>
      <figure class="figure unselectable">
        <img
          src={cover}
          alt={title}
        />
      </figure>
    </div>

    <slot />
  </main>
</Main>

<style>
  main {
    max-width: 30rem;
    padding-bottom: 2rem;
    margin: auto;
  }

  h1 + h2 {
    margin-bottom: 3rem;
  }

  .figure {
    margin: 0;
    padding: 2rem 0;
  }

  .figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    border-radius: 20px;
  }

</style>