---
import "../styles/global.css";
type Props = {
  title: string
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="my gl novels/books library" />
    <title>{title}</title>
  </head>
  <body>
    <main>

      <slot />

    </main>
  </body>
</html>

<style>
  h1 {
    line-height: 1;
  }

  h1 + h2 {
    margin-top: -1.4rem;
    opacity: 0.9;
    font-weight: 400;
  }

  main {
    max-width: 40rem;
    margin: auto;

    border-radius: 15px;
    padding: 1rem;

    background: var(--background-glass);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
  }
</style>